#define IDD_DLG1 1000
#define IDC_EDT1 1001
#define IDC_BTN4 181
#define IDC_BTN5 185
#define IDC_BTN6 171
#define IDC_BTN7 175
#define IDC_BTN8 161
#define IDC_BTN9 165
#define IDC_BTN19 365
#define IDC_BTN20 361
#define IDC_BTN21 375
#define IDC_BTN22 371
#define IDC_BTN23 385
#define IDC_BTN24 381
#define IDC_BTN25 300
#define IDC_BTN26 351
#define IDC_BTN27 355
#define IDC_BTN28 465
#define IDC_BTN29 461
#define IDC_BTN30 475
#define IDC_BTN31 471
#define IDC_BTN32 485
#define IDC_BTN33 481
#define IDC_BTN34 400
#define IDC_BTN35 451
#define IDC_BTN36 455
#define IDC_BTN37 265
#define IDC_BTN38 261
#define IDC_BTN39 275
#define IDC_BTN40 271
#define IDC_BTN41 285
#define IDC_BTN42 281
#define IDC_BTN43 200
#define IDC_BTN44 251
#define IDC_BTN45 255
#define IDC_BTN10 615
#define IDC_BTN11 611
#define IDC_BTN12 600
#define IDC_BTN13 641
#define IDC_BTN14 645
#define IDC_BTN15 631
#define IDC_BTN16 635
#define IDC_BTN17 621
#define IDC_BTN18 625
#define IDC_BTN46 815
#define IDC_BTN47 811
#define IDC_BTN48 800
#define IDC_BTN49 841
#define IDC_BTN50 845
#define IDC_BTN51 831
#define IDC_BTN52 835
#define IDC_BTN53 821
#define IDC_BTN54 825
#define IDC_BTN55 715
#define IDC_BTN56 711
#define IDC_BTN57 700
#define IDC_BTN58 741
#define IDC_BTN59 745
#define IDC_BTN60 731
#define IDC_BTN61 735
#define IDC_BTN62 721
#define IDC_BTN63 725
#define IDC_BTN64 525
#define IDC_BTN65 521
#define IDC_BTN66 535
#define IDC_BTN67 531
#define IDC_BTN68 545
#define IDC_BTN69 541
#define IDC_BTN70 500
#define IDC_BTN71 511
#define IDC_BTN72 515
#define PERM 1002
#define LOAD 1003
#define MOBILE 1004

#include <windows.h>

TEST DIALOGEX 0,-18,543,282
CAPTION "Test"
FONT 8,"MS Sans Serif",0,0,0
STYLE WS_VISIBLE|WS_OVERLAPPEDWINDOW
BEGIN
  CONTROL "",IDC_EDT1,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,6,3,528,117,WS_EX_CLIENTEDGE
  CONTROL "1",155,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,111,132,9,15
  CONTROL "2",151,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,120,132,9,15
  CONTROL "@",100,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,111,147,18,15
  CONTROL "4",IDC_BTN4,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,138,147,9,15
  CONTROL "3",IDC_BTN5,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,129,147,9,15
  CONTROL "-",IDC_BTN6,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,120,162,9,15
  CONTROL "+",IDC_BTN7,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,111,162,9,15
  CONTROL "~",IDC_BTN8,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,102,147,9,15
  CONTROL "`",IDC_BTN9,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,93,147,9,15
  CONTROL "IDC_BTN",IDC_BTN19,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,93,237,9,15
  CONTROL "IDC_BTN",IDC_BTN20,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,102,237,9,15
  CONTROL "IDC_BTN",IDC_BTN21,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,111,252,9,15
  CONTROL "IDC_BTN",IDC_BTN22,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,120,252,9,15
  CONTROL "IDC_BTN",IDC_BTN23,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,129,237,9,15
  CONTROL "IDC_BTN",IDC_BTN24,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,138,237,9,15
  CONTROL " ",IDC_BTN25,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,111,237,18,15
  CONTROL "IDC_BTN",IDC_BTN26,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,120,222,9,15
  CONTROL "IDC_BTN",IDC_BTN27,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,111,222,9,15
  CONTROL "g",IDC_BTN28,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,147,192,9,15
  CONTROL "h",IDC_BTN29,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,156,192,9,15
  CONTROL "IDC_BTN",IDC_BTN30,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,165,207,9,15
  CONTROL "IDC_BTN",IDC_BTN31,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,174,207,9,15
  CONTROL "k",IDC_BTN32,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,183,192,9,15
  CONTROL "l",IDC_BTN33,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,192,192,9,15
  CONTROL "%",IDC_BTN34,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,165,192,18,15
  CONTROL "j",IDC_BTN35,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,174,177,9,15
  CONTROL "i",IDC_BTN36,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,165,177,9,15
  CONTROL "a",IDC_BTN37,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,27,192,15,15
  CONTROL "b",IDC_BTN38,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,42,192,15,15
  CONTROL "y",IDC_BTN39,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,57,207,9,15
  CONTROL "z",IDC_BTN40,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,66,207,9,15
  CONTROL "e",IDC_BTN41,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,75,192,9,15
  CONTROL "f",IDC_BTN42,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,84,192,9,15
  CONTROL "!",IDC_BTN43,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,57,192,18,15
  CONTROL "d",IDC_BTN44,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,66,177,9,15
  CONTROL "c",IDC_BTN45,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,57,177,9,15
  CONTROL "o",IDC_BTN10,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,357,177,9,15
  CONTROL "p",IDC_BTN11,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,366,177,9,15
  CONTROL "#",IDC_BTN12,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,357,192,18,15
  CONTROL "r",IDC_BTN13,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,384,192,9,15
  CONTROL "q",IDC_BTN14,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,375,192,9,15
  CONTROL "IDC_BTN",IDC_BTN15,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,366,207,9,15
  CONTROL "IDC_BTN",IDC_BTN16,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,357,207,9,15
  CONTROL "n",IDC_BTN17,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,348,192,9,15
  CONTROL "m",IDC_BTN18,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,339,192,9,15
  CONTROL "u",IDC_BTN46,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,459,177,15,15
  CONTROL "v",IDC_BTN47,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,474,177,15,15
  CONTROL "&&",IDC_BTN48,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,465,192,18,15
  CONTROL "x",IDC_BTN49,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,498,192,15,15
  CONTROL "w",IDC_BTN50,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,483,192,15,15
  CONTROL "IDC_BTN",IDC_BTN51,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,474,207,15,15
  CONTROL "IDC_BTN",IDC_BTN52,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,459,207,15,15
  CONTROL "t",IDC_BTN53,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,450,192,15,15
  CONTROL "s",IDC_BTN54,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,435,192,15,15
  CONTROL "IDC_BTN",IDC_BTN55,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,411,222,9,15
  CONTROL "IDC_BTN",IDC_BTN56,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,420,222,9,15
  CONTROL "*",IDC_BTN57,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,411,237,18,15
  CONTROL "IDC_BTN",IDC_BTN58,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,438,237,9,15
  CONTROL "IDC_BTN",IDC_BTN59,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,429,237,9,15
  CONTROL "IDC_BTN",IDC_BTN60,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,420,252,9,15
  CONTROL "IDC_BTN",IDC_BTN61,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,411,252,9,15
  CONTROL "IDC_BTN",IDC_BTN62,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,402,237,9,15
  CONTROL "IDC_BTN",IDC_BTN63,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,393,237,9,15
  CONTROL "5",IDC_BTN64,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,393,147,9,15
  CONTROL "6",IDC_BTN65,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,402,147,9,15
  CONTROL "*",IDC_BTN66,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,411,162,9,15
  CONTROL "/",IDC_BTN67,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,420,162,9,15
  CONTROL "9",IDC_BTN68,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,429,147,9,15
  CONTROL "0",IDC_BTN69,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,438,147,9,15
  CONTROL "BkSp",IDC_BTN70,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,411,147,18,15
  CONTROL "8",IDC_BTN71,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,420,132,9,15
  CONTROL "7",IDC_BTN72,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,411,132,9,15
  CONTROL "Permutate (takes forever, hearly freezes GUI, saves Generated_Layout.hex periodically)",PERM,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,126,267,285,15
  CONTROL "Load Current_Layout.hex",LOAD,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,180,252,183,15
  CONTROL "PC/Mobile",MOBILE,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,246,123,54,15
END

